menuconfig ETC_BLE
	bool "BLE for Flex device"
	default y
	help
        	Selection for BLE feature

if ETC_BLE

config ETC_BLE_ENCRYPTION
	bool "Enable/disable the encryption data for BLE module"
	default n

config ETC_BLE_ADV_MAGET_TIMEOUT_SEC
	int "Timeout in seconds for magnet advertise"
	default  120

config ETC_BLE_PAYLOAD_LEGACY_FORMAT
	bool "Enabe/disable the format payload"
	default y

module = ETC_BLE
module-str = ble
source "subsys/logging/Kconfig.template.log_config"

endif