CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_BOARD_ETC_NINAB4=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# enable console
CONFIG_CONSOLE=y

# Enable UART Console
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

# Enable PinCTRL
CONFIG_PINCTRL=y

# NFC Pins is used as a gpio
CONFIG_NFCT_PINS_AS_GPIOS=y

CONFIG_SERIAL=y
CONFIG_GPIO=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=n

CONFIG_I2C=y
CONFIG_SPI=y