CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52833_QIAA=y
CONFIG_BOARD_ETC=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y

# additional board options
CONFIG_GPIO_AS_PINRESET=y

# bluetooth
CONFIG_BT=y
CONFIG_BT_CTLR=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

CONFIG_I2C=y
CONFIG_I2C_1=y
CONFIG_I2C_INIT_PRIORITY=60
CONFIG_SENSOR=y
CONFIG_SENSOR_INIT_PRIORITY=90