menuconfig UI_MODULE
	bool "Enable UI module"
	help
		Enable the User Interface module for user interaction

if UI_MODULE

config UI_LED_USE_PWM
	bool "Use PWM to control LEDs"
	default y
	select PWM

config UI_LED_PWM_DEV_NAME
	string "PWM device name for RGB LED"
	default "PWM_0"

config UI_LED_PWM_FREQUENCY
	int "LED PWM frequency"
	range 100 1000000
	default 5000

config UI_LED_RED_PIN
	int "Red LED pin number"
	default 13

config UI_LED_GREEN_PIN
	int "Green LED pin number"
	default 33

config UI_LED_BLUE_PIN
	int "Blue LED pin number"
	default 32

module = UI
module-str = User Interface
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif
