/ {
	chosen {
		nordic,pm-ext-flash = &mx25r1635;
		zephyr,uart-mcumgr = &cdc_acm_uart1;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,console = &cdc_acm_uart0;
	};

	aliases {
		rtc = &i2c0;
	};
};

/ {
	sram@2003F000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x2003F000 0x1000>;
		zephyr,memory-region = "RetainedMem";
		status = "okay";

		retainedmem0: retainedmem {
			compatible = "zephyr,retained-ram";
			status = "okay";
	        };
        };

	aliases {
		record-header-ram = &retainedmem0;
	};
};

&gpregret1 {
	status = "disabled";
};

&gpregret2 {
	status = "disabled";
};

&sram0 {
	reg = <0x20000000 DT_SIZE_K(252)>;
};

// Comment deletion of wp-gpios and hold-gpios after upgrade to NCS v2.7.0
// Without these properties, the spi_nor driver doesn't initialize properly.
&spi3 {
	mx25r1635: mx25r1635@0 {
		spi-max-frequency = <32000000>;
		// /delete-property/ wp-gpios;
		// /delete-property/ hold-gpios;
	};
};

// &gpio0 {
// 	wp-hog {
// 		gpio-hog;
// 		gpios = <17 GPIO_ACTIVE_LOW>;
// 		output-high;
// 	};

// 	hold-hog {
// 		gpio-hog;
// 		gpios = <19 GPIO_ACTIVE_LOW>;
// 		output-high;
// 	};
// };