menu "EXACT Monitor 2.0 Application"

config PUBLICATION_INTERVAL_SECONDS
	int "Interval in seconds that the sample will publish data"
	default 60

config CONNECTION_RETRY_TIMEOUT_SECONDS
	int "Number of seconds between each AWS IoT connection retry"
	default 30

config SENSOR_POLL_INTERVAL_SECONDS
	int "Number of seconds in polling interval that the sample will publish data"
	default 900

config BATTERY_POLL_INTERVAL_SECONDS
	int "Number of seconds in sampling the battery"
	default 60

config ETC_LORA_MODULE
	bool "Enable/disable LoRa module"
	default y

rsource "src/exact/Kconfig"
endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = ETC_APP
module-str = ETC App
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
