menu "EXACT Monitor 2.0 Application"

config PUBLICATION_INTERVAL_SECONDS
	int "Interval in seconds that the sample will publish data"
	default 60

config CONNECTION_RETRY_TIMEOUT_SECONDS
	int "Number of seconds between each AWS IoT connection retry"
	default 30

config APP_AWS_IOT
	bool "Enable/disable use of AWS IoT to connect to cloud"
	default y

config ETC_BLE_ENCRYPTION
	bool "Enable/disable the encryption data for BLE module"
	default n

config ETC_BLE_PAYLOAD_LEGACY_FORMAT
	bool "Enabe/disable the format payload"
	default y

rsource "src/exact/Kconfig"
rsource "src/cloud/Kconfig"
rsource "src/cloud/Kconfig.lwm2m"
rsource "src/modules/Kconfig.debug_module"
rsource "src/modules/Kconfig.modem_module"
rsource "src/modules/Kconfig.ui_module"
rsource "src/modules/Kconfig.lora_module"
rsource "src/cloud/cloud_codec/Kconfig"

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = ETC_APP
module-str = ETC App
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
