# TMP1075 temperature sensor configuration options
# Copyright (c) 2023 EXACT Technology
# SPDX-License-Identifier: Apache-2.0

menuconfig TMP1075
	bool "TMP1075 Temperature Sensor"
	depends on DT_HAS_TI_TMP1075_ENABLED
	depends on I2C

	help
	  Enable driver for the TMP108 temperature sensor

if TMP1075

module = TMP1075
module-str = TMP1075
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # TMP1075
