menuconfig ETC_BATTERY
	bool "Battery management"
	default y
	depends on BQ25618

if ETC_BATTERY

config BATTERY_LOW_VOLTAGE_MV
	int "The voltage in mV to determine battery in low power"
	default 3450

config BATTERY_NOT_INSTALL_MV
	int "The voltage in mV to determine battery in not installed"
	default 2800

module = ETC_BATTERY
module-str = battery
source "subsys/logging/Kconfig.template.log_config"

endif