config DS18S20
	bool "DS18S20 Temperature and Humidity Sensor"
	depends on DS2484
	help
	  Enable driver for the DS18S20 temperature and humidity sensor family.

if DS18S20

config DS18S20_THREAD_STACK_SIZE
	int "Stack size for the quectel BG9X modem driver RX thread"
	default 1028
	help
	  This stack is used by the quectel BG9X RX thread.

endif