# MAX31888 temperature sensor configuration options

# Copyright (c) 2023 EXACT Technology

config MAX31888
	bool "MAX31888 Temperature Sensor"
	default y
	depends on DT_HAS_MAXIM_MAX31888_ENABLED
	depends on W1_NET
	help
	  Enable driver for MAX31888 1-Wire temperature sensors.
