menuconfig ETC_DEVICE
	bool "Mode for ETC Monitor Device"
	default y
	help
	  Selection for ETC Flex Setting/Calibration storage

if ETC_DEVICE

config ETC_DEVICE_INIT_PRIORITY
	int "etc_device init priority"
	default APPLICATION_INIT_PRIORITY
	help
	  Init priority for the etc_device module, which includes initializing
	  NVS.

module = ETC_DEVICE
module-str = device
source "subsys/logging/Kconfig.template.log_config"

endif