#
# Copyright (c) 2023 EXACT Technology
#

menuconfig MODEM_MODULE
	bool "Modem module"
	default y

if MODEM_MODULE

config MODEM_MODULE_MAX_CONNECTION_TIME_S
	int "Maximum allowed modem connection time"
	default 240
	help
	  The maximum amount of time in seconds that the modem is allowed
	  to take from turning on to having established a network connection.
	  If the modem takes longer than this amount of configured time,
	  the modem is turned off manually until the next scheduled transmit or
	  other wakeup event.

config MODEM_MODULE_UNEXPECTED_WAKEUP_TIMEOUT_S
	int "Timeout to shut down modem after unexpected wakeup"
	default 15
	help
	  If the modem has not connected to an LTE network after this timeout
	  after an unexpected wake up, the modem will be turned off.
	  An unexpected wake up is defined as the modem waking up without any
	  user interaction when the modem is not in PSM mode.

config MODEM_MODULE_RELAY_PSM_RAT
	string "Requested PSM active time in relay mode"
	default "00100010"

config MODEM_MODULE_RELAY_PSM_RPTAU
	string "Requested PSM periodic TAU in relay mode, default 2 minutes"
	default "00111000"

config MODEM_MODULE_RELAY_SOFT_PSM_TIMEOUT_S
	int "Requested soft PSM timeout in relay mode"
	default 90

config MODEM_MODULE_SHELL
	bool "Enable the shell with test commands"

config MODEM_MODULE_GNSS_TIMEOUT_S
	int "Timeout to turn off GNSS if no location was found"
	default 60

config MODEM_MODULE_DESIRED_FIX_COUNT
	int "GNSS is turned off and location accepted when this fix count is reached"
	default 3


endif