menu "EXACT Core 2.0 Low Power Test Application"
endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = ETC_LOWPOWER
module-str = ETC Low Power
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
