menu "EXACT Core 2.0 Test Application"

config TEST_VERSION
	string "Test version"
	default "v1.0.0"

config NTC_USE_TABLE
	bool "Use NTC table to converter from raw ADC to temperature"
	default y
	
config NTC_USE_OFFSET_1
	depends on NTC_USE_TABLE
	bool "Use NTC table with offset 1 deg in C"
	default y

config LORA_MSG_IN_HALL_EVENT
	bool "Trigger to send Lora Message when Hall sensor event"
	default n

config WDT_FEED_TIMEOUT_SECONDS
	int "Number of seconds that system will feed for WDT"
	default 1

config SERIAL_NUMBER_DEFAULT_VALUE
	int "The default serial number"
	default 10000000
	help
		Default value for serial number when type is EXACT Serial Number

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

rsource "src/etc_devices/Kconfig"
rsource "src/modules/Kconfig"

module = ETC_TEST
module-str = ETC Test
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
