menu "EXACT Core 2.0 Test Application"

config TEST_VERSION
	string "Test version"
	default "v1.0.0"

config NTC_USE_TABLE
		bool "Use NTC table to converter from raw ADC to temperature"
		default y
	
config NTC_USE_OFFSET_1
		depends on NTC_USE_TABLE
		bool "Use NTC table with offset 1 deg in C"
		default y

config LORA_MSG_IN_HALL_EVENT
		bool "Trigger to send Lora Message when Hall sensor event"
		default n

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

rsource "src/etc_devices/Kconfig"

module = ETC_TEST
module-str = ETC Test
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
