menuconfig DS2484
	bool "Bridge I2C to One-wire driver"
	select I2C
	select POLL
	help
	  Enable driver for the DS2484 the bridge I2C to One-wire protocol.

if DS2484

module = DS2484
module-str = DS2484
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
endif
