menu "EXACT Core 2.0 Test Application"

config TEST_VERSION
	string "Test version"
	default "v1.0.0"

endmenu

menu "Zephyr Kernel"
source "$ZEPHYR_BASE/Kconfig.zephyr"
endmenu

module = ETC_MODEM_PSM
module-str = ETC Modem PSM
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
