/ {
	chosen {
		nordic,pm-ext-flash = &mx25r1635;
	};
};

/* A7 = P0.31 = AIN7 - ADC_AMB */ 
/* A3 = P0.5  = AIN3 - ADC_BATT*/
/* A2 = P0.4 = AIN2 - ADC_TH*/
/ {
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc 7>, <&adc 3>, <&adc 2>;
	};
};