/ {
	chosen {
		nordic,pm-ext-flash = &mx25r1635;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,console = &cdc_acm_uart0;
	};

	board-control {
		modem_uart_oe: modem-uart-oe {
			compatible = "etc,output";
			control-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
			status = "okay";
		};
	};

	aliases {
		rtc = &i2c0;
	};
};

&w1 {
	w1_tmp1826: w1_tmp1826 {
		compatible = "ti,tmp1826";
		resolution = <12>;
		status = "okay";
	};
};

zephyr_udc0: &usbd {
	cdc_acm_uart1 {
		status = "disabled";
	};
};