/ {
	chosen {
		nordic,pm-ext-flash = &mx25l6433;
	};
};

/* A0 = P0.04 = AIN2 */
/* A1 = P0.30 = AIN6 */
/* A2 = P0.5  = AIN3 */
/* A3 = P0.2  = AIN0 */
/* A4 = P0.28 = AIN4 */
/ {
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc 2>, <&adc 6>, <&adc 3>;
	};
};
	
/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &scratch_partition;
/delete-node/ &storage_partition;

&flash0 {
	partitions {
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00070000>;
		};
	};
};

&mx25l6433 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x00000000 0x00060000>;
		};
		etc_partition: partition@60000 {
			label = "etc-storage";
			reg = <0x00060000 0x00190000>;
		};
		storage_partition: partition@1F0000 {
			label = "storage";
			reg = <0x001F0000 0x00010000>;
		};
	};
};