rsource "modem/Kconfig"
rsource "lora/Kconfig"
rsource "sensor/bq24195/Kconfig"
rsource "sensor/bq25618/Kconfig"
rsource "sensor/onewire/Kconfig"
rsource "sensor/tmp1075/Kconfig"
rsource "io/Kconfig"
rsource "rtc/pcf85263/Kconfig"
rsource "onewire_i2c/Kconfig"