rsource "modem/Kconfig"
rsource "adc/Kconfig"
rsource "ds18s20/Kconfig"
rsource "bq24195/Kconfig"
rsource "io/Kconfig"
rsource "onewire/Kconfig"
rsource "pcf85263/Kconfig"
rsource "power/Kconfig"
rsource "ui/Kconfig"