/ {
	chosen {
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,console = &cdc_acm_uart0;
		nordic,pm-ext-flash = &mx25r1635;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

/* A7 = P0.31 = AIN7 - ADC_AMB */ 
/* A3 = P0.5  = AIN3 - ADC_BATT*/
/* A2 = P0.4 = AIN2 - ADC_TH*/
/ {
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&adc 7>, <&adc 3>, <&adc 2>;
	};
};

/delete-node/ &boot_partition;
/delete-node/ &slot0_partition;
/delete-node/ &slot1_partition;
/delete-node/ &storage_partition;

&flash0 {
	partitions {
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00070000>;
		};
	};
};

&mx25r1635 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		slot1_partition: partition@0 {
			label = "image-1";
			reg = <0x00000000 0x00060000>;
		};
		etc_partition: partition@60000 {
			label = "etc-storage";
			reg = <0x00060000 0x00190000>;
		};
		storage_partition: partition@1F0000 {
			label = "storage";
			reg = <0x001F0000 0x00010000>;
		};
	};
};