menuconfig ETC_DEVICE
	bool "Mode for ETC Monitor Device"
	default y
	help
	  Selection for ETC Monitor Device Mode (Relay or Logger)

if ETC_DEVICE

config ETC_DEVICE_MODE_RELAY
	int "Relay mode"
	default 1

config ETC_DEVICE_MODE_LOGGER
	int "Logger mode"
	default 2

config ETC_DEVICE_MODE
	int "ETC Device Mode Relay (1) or Logger (2)"
	default ETC_DEVICE_MODE_LOGGER

config ETC_DEVICE_RADIO_LTE
	int "Radio mode over LTE"
	default 0

config ETC_DEVICE_RADIO_LORA
	int "Radio mode over Lora"
	default 1

config ETC_DEVICE_RADIO_MODE
	int "ETC Radio Mode LTE (0) or Lora (1)"
	default ETC_DEVICE_RADIO_LORA

config ETC_DEVICE_SAVE_RECORD_SEC
	int "Number of seconds to save the header ACKs"
	default 3600

config ETC_DEVICE_RELAY_MAX_RECORD_HISTORY
	int "Maximum number of record that relay stores in ROM"
	default 64
	help
		Default value for number of record that the Relay can save in ROM.

			
module = ETC_DEVICE
module-str = device
source "subsys/logging/Kconfig.template.log_config"

endif