menuconfig ONEWIRE_I2C
	bool "Bridge One-wire to I2C driver"
	depends on W1_NET
	depends on DT_HAS_MAXIM_DS28E18_ENABLED
	help
	  Enable driver for the DS28E18 the bridge One-wire to I2C protocol.

if ONEWIRE_I2C
	config ONEWIRE_I2C_INIT_PRIORITY
	int
	default 75
	help
		The priority for initialization for DS28E18 over One Wire
		
module = ONEWIRE_I2C
module-str = ONEWIRE_I2C
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
endif
