#
# Copyright (c) 2022 Nordic Semiconductor
#
# Copyright (c) 2023 EXACT Technology Corporation
#

module = LWM2M_INTEGRATION
module-prompt = "LwM2M integration"

config $(module)
	bool
	prompt "LwM2M integration layer"

if LWM2M_INTEGRATION

menu "LwM2M integration library"

choice
	prompt "Select the unique ID that should be used for the endpoint identification"
	default LWM2M_INTEGRATION_ENDPOINT_HWINFO

config LWM2M_INTEGRATION_ENDPOINT_HWINFO
	bool "Use the nRF52 HW info (64-bit MAC) for endpoint identification"

config LWM2M_INTEGRATION_ENDPOINT_SERIALNUMBER
	bool "Use the EXACT assigned serial number for endpoint identification"

endchoice

config LWM2M_INTEGRATION_ENDPOINT_PREFIX
	string "LwM2M endpoint prefix"
	default "urn:dev:mac:" if LWM2M_INTEGRATION_ENDPOINT_HWINFO
	default "urn:dev:os:60606-" if LWM2M_INTEGRATION_ENDPOINT_SERIALNUMBER

config LWM2M_INTEGRATION_PSK_ID
	string "LwM2M PSK"
	default MODEM_QUECTEL_BG95_M3_PSK_ID
	help
	  LwM2M PSK ID to be used. Defaults to ID configured
	  for modem.
	

config LWM2M_INTEGRATION_PSK
	string "LwM2M PSK"
	default MODEM_QUECTEL_BG95_M3_PSK_KEY
	help
	  LwM2M PSK key to be used. Defaults to key configured
	  for modem.

# Make AVsystem the default lwM2M server.
config LWM2M_INTEGRATION_SERVER_URL
	string "LwM2M server address"
	default "coaps://eu.iot.avsystem.cloud:5684"
	help
	  Kconfig redefinition, please see the help text of the original definition.

config LWM2M_INTEGRATION_MAX_HUMID_SENSOR_INSTANCE_COUNT
	int "Maximum # of EXACT Humidity Sensor object instances"
	default 1
	help
	  This setting establishes the total count of EXACT Humidity
	  Sensor instances available to the LWM2M client.


config LWM2M_INTEGRATION_FIRMWARE_UPDATE_OBJ_SUPPORT
	bool "Firmware Update object support"
	default y
	select LWM2M_FIRMWARE_UPDATE_OBJ_SUPPORT if (!ZTEST)
	select DFU_TARGET
	select BOOTLOADER_MCUBOOT if !ZTEST
	select IMG_MANAGER if !ZTEST
	select IMG_ERASE_PROGRESSIVELY if !ZTEST
	select FLASH if !ZTEST
	select STREAM_FLASH if !ZTEST
	select MPU_ALLOW_FLASH_WRITE if !ZTEST
	select FOTA_DOWNLOAD_PROGRESS_EVT if FOTA_DOWNLOAD

rsource "lwm2m/exact_objects/Kconfig"

if LWM2M_INTEGRATION_FIRMWARE_UPDATE_OBJ_SUPPORT

config LWM2M_INTEGRATION_MCUBOOT_FLASH_BUF_SIZE
	int "Size of buffer used for flash write operations during MCUboot updates"
	depends on DFU_TARGET_MCUBOOT
	default 512
	help
	  Buffer size must be aligned to the minimal flash write block size.

endif # LWM2M_INTEGRATION_FIRMWARE_UPDATE_OBJ_SUPPORT

endmenu

endif # LWM2M_INTEGRATION
