config MODEM_QUECTEL_BG95_M3
	bool "Enable quectel modem driver"
	select MODEM_CONTEXT
	select MODEM_CMD_HANDLER
	select MODEM_IFACE_UART
	select MODEM_SOCKET
	select NET_OFFLOAD
	select NET_SOCKETS_OFFLOAD
	help
	  Choose this setting to enable quectel BG95-M3 customized LTE-CatM1/NB-IoT modem
	  driver.

config MODEM_QUECTEL_BG95_M3_MOCK
	bool "Enable mocking of Quectel BG95 M3"
	help
	  Choose this to enable BG95M3 mocking.

if MODEM_QUECTEL_BG95_M3

config MODEM_QUECTEL_BG95_M3_RX_STACK_SIZE
	int "Stack size for the quectel BG9X modem driver RX thread"
	default 1028
	help
	  This stack is used by the quectel BG9X RX thread.

config MODEM_QUECTEL_BG95_M3_RX_WORKQ_STACK_SIZE
	int "Stack size for the quectel BG9X modem driver work queue"
	default 2048
	help
	  This stack is used by the work queue to pass off net_pkt data
	  to the rest of the network stack, letting the rx thread continue
	  processing data.

config MODEM_QUECTEL_BG95_M3_APN
	string "APN for establishing network connection"
	default "internet"
	help
	  This setting is used to set the APN name for the network connection
	  context.  This value is specific to the network provider and may
	  need to be changed.

config MODEM_QUECTEL_BG95_M3_USERNAME
	string "Username for establishing network connection"
	default ""
	help
	  This setting is used to set the User name for the network connection
	  context.  This value is specific to the network provider and may
	  need to be changed.

config MODEM_QUECTEL_BG95_M3_PASSWORD
	string "Password for establishing network connection"
	default ""
	help
	  This setting is used to set the Password for the network connection
	  context.  This value is specific to the network provider and may
	  need to be changed.

config MODEM_QUECTEL_BG95_M3_SSL_NEGOTIATION_TIMEOUT
	int "SSL Negotiation Timeout in seconds"
	default 20
	help
	  The SSL negotiation timeout that the modem uses for every DTLS context.
	  The valid range is 10 to 300 seconds. The timeout is being set by the
	  driver through the AT+QSSLCFG="negotiatetime" command.

config MODEM_QUECTEL_BG95_M3_INIT_PRIORITY
	int "Quectel BG95 M3 driver init priority"
	default 95
	help
	  Quectel BG95 M3 device driver initialization priority.
	  Do not mess with it unless you know what you are doing.
	  Note that the priority needs to be lower than the net stack
	  so that it can start before the networking sub-system.

config MODEM_QUECTEL_BG95_M3_SIM_NUMBERS
	bool "Read IMSI and ICCID from modem"
	default y

config MODEM_QUECTEL_BG95_M3_DYNAMIC_PSK
	bool "Allow the use of non-static PSK credentials"
	default y

config MODEM_QUECTEL_BG95_M3_PSK_ID_MAX_SIZE
	int "Maximum size of the PSK identity"
	default 64

config MODEM_QUECTEL_BG95_M3_PSK_MAX_SIZE
	int "Maximum size of the PSK"
	default 64

config MODEM_QUECTEL_BG95_M3_PSK_ID
	string "PSK ID when using DTLS"
	default "EXACT"
	help
	  When using DTLS over UDP, the modem uses the PSK method to encrypt the
	  data. This option specifies the PSK ID to use.

config MODEM_QUECTEL_BG95_M3_PSK_KEY
	string "PSK Key in hex format when using DTLS"
	default "875ba79f213ecd8c"
	help
	  When using DTLS over UDP, the modem uses the PSK method to encrypt the
	  data. This option specifies the PSK key to use.

choice
	prompt "Select PSM functionality"
	default MODEM_QUECTEL_BG95_PSM

config MODEM_QUECTEL_BG95_PSM
	bool "Enable/disable PSM functionality"

config MODEM_QUECTEL_BG95_SOFT_PSM
	bool "Enable/disable software method for PSM functionality"

endchoice

config MODEM_QUECTEL_BG95_M3_PSM_REQ_RPTAU
	string "PSM setting requested periodic TAU"
	default "00111000"
	help
		Power saving mode setting for requested periodic TAU.
		See 3GPP 27.007 Ch. 7.38.
		And 3GPP 24.008 Ch. 10.5.7.4a for data format.

config MODEM_QUECTEL_BG95_M3_PSM_REQ_RAT
	string "PSM setting requested active time"
	default "00001010"
	help
		Power saving mode setting for requested active time.
		See 3GPP 27.007 Ch. 7.38.
		And 3GPP 24.008 Ch. 10.5.7.3 for data format.

config MODEM_NTP_SERVER
	string "NTP server to poll date/time"
	default "time.aws.com"
	help 
		The NTP server for getting date/time when the modem is online

config MODEM_SOFT_PSM_WAIT_TIME_SEC
	int "The timeout to put the modem to sleep mode like PSM"
	default 20
	
endif
