if MODEM_QUECTEL_BG95_M3

config MODEM_QUECTEL_BG95_M3_GNSS
	bool "Enable BG95 GNSS functionality"

if MODEM_QUECTEL_BG95_M3_GNSS

config MODEM_QUECTEL_BG95_M3_GNSS_SHELL
	bool "Enable the BG95 GNSS shell"

endif # MODEM_QUECTEL_BG95_M3_GNSS

endif # MODEM_QUECTEL_BG95_M3