menuconfig DS18B20_TIMER
	bool "DS18B20 Temperature Sensor"
	help
	  Enable driver for the DS18B20 temperature sensor family by using timer.

if DS18B20_TIMER

module = DS18B20_TIMER
module-str = DS18B20 TIMER
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif

