# TMP1826 temperature sensor configuration options

# Copyright (c) 2023 EXACT Technology

config TMP1826
	bool "TMP1826 Temperature Sensor"
	default y
	depends on DT_HAS_TI_TMP1826_ENABLED
	depends on W1_NET
	help
	  Enable driver for TMP1826 1-Wire temperature sensors.
