menuconfig ETC_SETTINGS
	bool "ETC Settings Library"
	help
	  Settings subsystem for ETC

if ETC_SETTINGS

config INTERVAL_TIME_MEASUREMENT_IN_SECONDS
	int "Interval time of measurement in seconds"
	default 900
	help
		Setting the interval time for measurement in default

config INTERVAL_TIME_TRANSMISSION_IN_SECONDS
	int "Interval time of transmission in seconds"
	default 900
	help
		Setting the interval time for transmission in default

config SERIAL_NUMBER_TYPE
	int "Select serial number concept by using HWInfo or EXACT Serial Number"
	default 1
	help
		Setting to select the serial from HW info (option 0) or EXACT Serial Number (1)

config SERIAL_NUMBER_DEFAULT_VALUE
	int "The default serial number"
	default 10000000
	help
		Default value for serial number when type is EXACT Serial Number

config RELAY_MAX_RECORD_HISTORY
	int "Maximum number of record that relay stores in ROM"
	default 240
	help
		Default value for number of record that the Relay can save in ROM.

module = ETC_SETTINGS
module-str = etc settings
source "subsys/logging/Kconfig.template.log_config"

endif