menu "EXACT Services and Libraries"
rsource "etc_data_fs/Kconfig"
rsource "etc_date_time/Kconfig"
rsource "etc_interface/Kconfig"
rsource "etc_settings/Kconfig"
rsource "etc_devices/Kconfig"
rsource "etc_sensor/Kconfig"
rsource "watchdog/Kconfig"
rsource "etc_devices/Kconfig"
rsource "etc_mgmt/Kconfig"
rsource "etc_ntc_db/Kconfig"
rsource "etc_memfault/Kconfig"
rsource "etc_battery/Kconfig"
endmenu
